@use "media-queries";

@use "globales";

.header {
    height: 6rem;
    width: auto;
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    @include media-queries.desktop {
        margin: 0 10%;
    }

    .logo {
        width: 9rem;

        @include media-queries.desktop-s {
            width: 10rem;
        }
    }

    .nav {
        width: 60%;
        padding-left: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


        @include media-queries.desktop {
            width: 78%;
            flex-direction: row-reverse;
        }


        .nav__btn-login {
            @include globales.btn;
            color: globales.$azure;
            width: 12rem;
            background-color: transparent;
            border: 1px solid globales.$azure;
            cursor: pointer;
        }

        .nav__busqueda-img {
            width: 1.7rem;

            @include media-queries.desktop {
                display: none;
            }
        }

        .nav__input-busqueda {
            display: none;

            @include media-queries.desktop {
                color: globales.$outer-space;
                font-size: 1.1rem;
                font-family: globales.$barlow;
                font-weight: 300;
                background-color: globales.$wite-smoke;
                background-image: url(../assets/icons/icon-lupa.svg);
                background-repeat: no-repeat;
                background-position: 95%;
                height: 2.5rem;
                width: 55%;
                padding: 0 1rem;
                border: none;
                border-radius: 2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
}

.header-articulos {

    @include media-queries.desktop {
        justify-content: flex-start;
    }

    .nav-articulos {
        width: 40%;
        justify-content: flex-end;

        @include media-queries.desktop {
            width: 60%;
            padding-left: 3rem;
        }
    }
}