@use "media-queries";

@use "globales";

.slide {
    height: 15rem;
    color: globales.$white;

    @include media-queries.tablet {
        height: 19rem;
    }

    @include media-queries.desktop-s {
        height: 22rem;
    }

    @include media-queries.desktop {
        height: 26rem;
    }

    .slide__div-img {
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .slide__gradient {
            height: 15rem;
            width: 100%;
            background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.845));
            position: absolute;

            @include media-queries.tablet {
                height: 19rem;
            }

            @include media-queries.desktop-s {
                height: 22rem;
            }

            @include media-queries.desktop {
                height: 26rem;
            }
        }

        .slide__img {
            width: 120%;

            @include media-queries.desktop-s {
                width: 100%;
            }
        }
    }

    .slide__txt {
        color: globales.$white;
        position: absolute;
        top: 16%;
        margin: 5%;
        display: flex;
        flex-direction: column;

        @include media-queries.tablet {
            top: 23%;
        }

        @include media-queries.desktop-s {
            top: 28%;
        }

        @include media-queries.desktop {
            margin: 5% 10%;
            top: 35%;
        }

        .slide__title {
            font-size: 2.2rem;
            font-family: globales.$fjalla;

            @include media-queries.tablet {
                font-size: 2.3rem;
            }
        
            @include media-queries.desktop-s {
                font-size: 3rem;
            }
        
            @include media-queries.desktop {
                font-size: 4rem;
            }
        }
    
        .slide__subtitle {
            font-size: 1rem;
            font-family: globales.$barlow;
            font-weight: 400;
            margin: 1rem 1px;

            @include media-queries.tablet {
                font-size: 1.1rem;
            }
        
            @include media-queries.desktop-s {
                font-size: 1.2rem;
            }
        
            @include media-queries.desktop {
                font-size: 1.4rem;
            }
        }

        .slide__btn {
            @include globales.btn;
            color: globales.$white;
            background-color: globales.$azure;
            width: 9rem;
            border: none;
        }
    }
}