@use "media-queries";

@use "globales";

.store-title {
    margin: 2% 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include media-queries.desktop {
        margin: 3% 10%;
    }

    .div-title-store {
        margin: 0.5rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title-store {
            color: globales.$outer-space;
            font-size: 2rem;
            font-family: globales.$fjalla;
            margin: 0.5rem 0;
        }
    
        .btn-ver-todo {
            color: globales.$azure;
            font-size: 1.2rem;
            font-family: globales.$barlow;
            font-weight: 600;
            background-color: transparent;
            border: none;
            display: flex;
            flex-direction: row;
            align-items: center;
    
            .btn-img-arrow {
                width: 1.4rem;
            }
        }
    }

    .store-container {
        height: 35rem;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        @include media-queries.desktop-s {
            height: 19rem;
            justify-content: space-between;
        }

        .item {
            height: 16rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 1.8rem;

            @include media-queries.desktop-s {
                padding: 0.6rem;
            }

            .item__img {
                width: 10.5rem;
            }

            .item__title {
                color: globales.$outer-space;
                font-size: 1.2rem;
                font-family: globales.$barlow;
                font-weight: 400;
            }

            .item__cost {
                color: globales.$outer-space;
                font-size: 1.3rem;
                font-family: globales.$fjalla;
            }

            .item__ver-producto {
                color: globales.$azure;
                font-size: 1.2rem;
                font-family: globales.$barlow;
                font-weight: 600;
            }
        }
    }
}