@import url(../styles.css);

.img-item {
    width: 100%;
    height: auto;
}

.img-banner {
    width: 120%;
}

.gradient-header {
    height: 15rem;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.845));
    position: absolute;
}



@media only screen and (min-width: 480px) {
    .gradient-header {
        height: 16rem;
    }
}

@media only screen and (min-width: 770px) {
    .img-banner {
        width: 100%;
    }

    .gradient-header {
        height: 17rem;
    }
}

@media only screen and (min-width: 1100px) {
    .gradient-header {
        height: 19rem;
    }
}