@import url(../styles.css);

.input-search {
    display: none;
}

@media only screen and (min-width: 770px) {
    .input-search {
        height: 2.5rem;
        width: 55%;
        background-color: var(--wite-smoke);
        background-image: url(../../assets/icons/icon-lupa.svg);
        background-repeat: no-repeat;
        background-position: 95%;
        font-family: 'Raleway', sans-serif;
        font-size: 0.9rem;
        font-weight: 300;
        color: var(--silver);
        padding: 0 1rem;
        border: none;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}