@import url(../styles.css);

input, textarea{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--outer-space);
    padding: 0;
    border: none;
    background-color: transparent;
}

input, textarea:focus-visible{
    outline: none;
}

input::placeholder{
    color: var(--silver);
}

.input-loguin{
    border-bottom: 0.5px solid var(--silver);
    border-radius: 0.1rem;
    background-color: var(--white);
    margin: 1rem 0;
    padding: 0.8rem;
    color: var(--outer-space);
    width: 100%;
    height: 2.6em;
}

.input-loguin::placeholder{
    color: var(--silver);
}
