@import url(../styles.css);

.start {
    height: 15rem;
}


@media only screen and (min-width: 480px) {
    .start {
        height: 16rem;
    }
}

@media only screen and (min-width: 770px) {
    .start {
        height: 17rem;
    }
}

@media only screen and (min-width: 1100px) {
    .start {
        height: 19rem;
    }
}