@import url(../styles.css);

.item {
    width: 10.6rem;
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.2rem;
}